# Enable ReadWriteMany backup volume
# Use this patch if your cluster supports RWX storage (NFS, CephFS, EFS, Azure Files, etc.)
#
# This enables the shared backup volume between API and Worker pods
# Without RWX storage, backup functionality will be limited
#
# To use this patch:
# 1. Ensure your cluster has a StorageClass that supports ReadWriteMany
# 2. Uncomment storage/pvc-backup.yaml in kustomization.yaml, OR
# 3. Reference this patch in your ArgoCD Application

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backup-data
  namespace: ldapguard
  labels:
    app.kubernetes.io/name: ldapguard
    app.kubernetes.io/component: backup
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  # Optionally specify a storageClassName if not using default
  # storageClassName: nfs-client
