resources:
  - namespace.yaml
  - configmap-app.yaml
  - configmap-nginx.yaml
  - secrets.yaml
  - pvc-postgres.yaml
  - pvc-redis.yaml
  - pvc-backup.yaml
  - postgres-statefulset.yaml
  - postgres-service.yaml
  - redis-statefulset.yaml
  - redis-service.yaml
  - api-deployment.yaml
  - api-service.yaml
  - worker-deployment.yaml
  - web-deployment.yaml
  - web-service.yaml
  - ingressroute.yaml
  - middleware.yaml
  - networkpolicy.yaml
  - resource-limits.yaml
images:
  - name: ghcr.io/keundokki/ldapguard-api
    newTag: v1.0.0
  - name: ghcr.io/keundokki/ldapguard-worker
    newTag: v1.0.0
  - name: ghcr.io/keundokki/ldapguard-web
    newTag: v1.0.0
