apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data
  namespace: ldapguard
  labels:
    app.kubernetes.io/name: ldapguard
    app.kubernetes.io/component: redis
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
