apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ldapguard

resources:
  - namespace.yaml
  # Storage
  - pvc-postgres.yaml
  - pvc-redis.yaml
  - pvc-backup.yaml
  # Database
  - postgres-statefulset.yaml
  - postgres-service.yaml
  # Cache
  - redis-statefulset.yaml
  - redis-service.yaml
  # Application
  - api-deployment.yaml
  - api-service.yaml
  - worker-deployment.yaml
  - web-deployment.yaml
  - web-service.yaml
  # Config
  - configmap-app.yaml
  - configmap-nginx.yaml
  # Network
  - middleware.yaml
  - networkpolicy.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
