# Traefik Middleware for HTTPS redirect and security headers
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: ldapguard-https-redirect
  namespace: ldapguard
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: ldapguard-security-headers
  namespace: ldapguard
spec:
  headers:
    sslRedirect: true
    stsSeconds: 31536000
    stsIncludeSubdomains: true
    stsPreload: true
    forceSTSHeader: true
    frameDeny: true
    contentTypeNosniff: true
    browserXssFilter: true
    referrerPolicy: "no-referrer"
